/****************** Container Config ******************/
.container.main { flex: 1; }


/****************** Header / Menu Bar ******************/
.menu-bar {
  flex-basis: 60px;
  min-height: 60px;

  display: flex;
  align-items: center;

  padding: 0 20px;

  background-color: #efefef;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.75);
  z-index: 1;
}

.menu-bar h1 {
  flex: 1;
  margin: 0 auto;
}

.menu-bar .menu-icon {
  flex-basis: 20px;

  display: flex;
  align-items: center;
}

.menu-icon img { width: 20px; }


/****************** Content Section ******************/
.content {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: #f7f7f7;
}

.content-container {
  flex: 1;
  display: flex;
}

.descriptions {
  flex-basis: 356px;

  min-width: 356px;
  height: 100%;
  overflow-y: auto;

  color: #000;
  background-color: #f1f1f1;
  border-right: 1px solid #e1e1e1;
}

.description {
  padding: 6px 12px;
  border-bottom: 1px solid #e1e1e1;

  transition: background-color ease-in 125ms;
}

.description.enter { opacity: 1; }

.description:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.description h3 {
  font-size: 12px;
  margin: 0 auto;
}

.description p {
  font-size: 12px;
  line-height: 15px;
  margin: 6px auto;
}

/****************** Main / Text Content ******************/

.main-content {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 356px;
  height: 100%;
}

.text-content {
  flex: 1;
  padding: 25px 30px 0;
  overflow-y: auto;
}

.text-content h3,
.text-content h4 {
  display: block;
}

.text-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.text-content h4 {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.text-content hr {
  border-style: solid;
  border-color: #ededed;
  width: 80%;
  margin: 16px 0;
}

.text-content p {
  font-size: 12px;
  line-height: 16px;
}

p .drop-cap {
  color: #000;
  float: left;
  font-size: 38px;
  line-height: 30px;
  padding-top: 2px;
  padding-right: 6px;
  margin-left: -2px;
}

.text-content picture {
  display: block;
  text-align: center;
}

picture > * {
  max-width: 100%;
}

picture + p.caption {
  font-size: 10px;
  font-style: italic;
  text-align: center;
  margin: 4px 0 16px;;
}

/****************** Input ******************/

.input {
  display: flex;
  border-top: 1px solid #ededed;
  flex-basis: 80px;
  padding: 20px;
}

.input input {
  flex: 1;

  padding-left: 16px;

  border: 1px solid #ededed;
  border-radius: 2px;

  background-color: #f7f7f7;
}

.input input::placeholder {
  font-size: 16px;
  color: #aaa;
}