/****************** Container Config ******************/
.container.left {
  display: flex;
  flex-direction: column;
  width: 60px;
  transition: width 250ms ease-in-out 250ms;
}

.container.left:hover {
  width: 300px;
  transition: width 250ms ease-in-out;
}

.reveal-on-hover {
  opacity: 0;
  transition: opacity 125ms ease-in;
}

.conceal-on-hover {
  opacity: 1;
  transition: opacity 125ms ease-in;
}

.container.left:hover .reveal-on-hover {
  opacity: 1;
  transition: opacity 125ms ease-in 250ms;
}

.container.left:hover .conceal-on-hover { opacity: 0; }


/****************** Logo Section ******************/

.logo {
  flex: none;

  display: flex;
  align-items: center;

  height: 60px;
  width: 100%;
  padding: 10px;

  box-shadow: inset -7px 0px 7px -5px rgba(0,0,0,0.25);
  background-color: #db0a5b;

  white-space: nowrap;
  overflow: hidden;
}

.logo img {
  flex: none;
  display: inline-block;
  width: 40px;
  height: auto;
}

.logo h1 {
  text-align: left;
  padding: 0 10px;
  color: #fff;
}


/****************** Tool-bar Section ******************/
.tool-bar {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #333;
}

.tool-item {
  position: relative;
  width: 100%;

  padding: 0 10px 5px;
  margin-top: 10px;

  white-space: nowrap;
  overflow: hidden;
}

.tool-item .label {
  width: 40px;
  margin-top: 5px;

  color: #e3e3e3;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.tool-item .icon {
  display: flex;
  align-items: center;
}

.icon .square {
  flex: none;

  display: block;
  background-color: #e3e3e3;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.icon h2 {
  flex: 1;

  text-align: left;

  padding: 0 10px;
  color: #e3e3e3;
}

/****************** Hover States ******************/

.tool-item:hover { cursor: pointer; }

.tool-item:hover:before {
  position: absolute;
  display: inline-block;
  content: " ";
  background-color: #db0a5b;
  box-shadow: 0 0 4px 1px #db0a5b;

  height: 4px;
  width: 4px;
  border-radius: 50%;

  left: -2px;
  top: 22px;
}

.tool-item:hover .icon .square {
  background-color: #fff;
}

.tool-item:hover .label,
.tool-item:hover .icon h2 {
  color: #fff;
}

.tool-item:hover h2 {
  text-decoration: underline;
}