header {
  display: flex;
  background-color: #efefef;
  height: 60px;
}

header .logo {
  display: flex;
  align-items: center;
  width: 60px;
  background-color: #db0a5b;
}

header .logo img {
  display: inline-block;
  height: 40px;
  width: auto;
  margin: 0 auto;
}

.menu-bar {
  flex: 1;

  display: flex;
  align-items: center;
  padding: 0 20px;
}

.menu-bar h1 {
  flex: 1;

  display: inline-block;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.menu-bar .menu-icon {
  flex-basis: 20px;

  display: flex;
  align-items: center;
}

.menu-icon img {
  width: 20px;
}

